

#section-faq {
  background-image: url("/bg-faq.svg");
  
}

#accordion {
  background-color: rgb(12, 80, 241,.2);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
 
}

.accordion-header {
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
}

.accordion-header span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: aliceblue;
  font-weight: 600;
}

.accordion-body {
  color:#dbdada;
  font-size: 14px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s;
}

.accordion-body.active {
  height: 100%;
  opacity: 1;
  padding: 5px 0px;
}

.arrow {
  transition: transform 0.2s linear;
}

 .arrow.open {
    transform: rotate(90deg);
  }
  