nav{
    color: aliceblue;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding-block: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

    padding-block:  8px;
}
.button-menu {
    background-color: #0C50F1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size:  16px;
    font-weight: normal;
    border-radius: 0px;
    cursor: pointer;
    transition: background-colos 0.6s ease;
    border-radius: 15px;
}
button:houver {
    background-color: #fff;
}
button:active {
    background-color: #fcfcfc;
}
button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(6, 106, 221, 0.5);
}
img {
    width: 150px;
    height: auto;
}